<p id="notice"><%= notice %></p>

<h1>Kudos</h1> 
<%= link_to 'New Kudo', new_kudo_path %>

<% if current_user.receiver.count > 0 %>
<table class="kudos" style="width:550px;">
  <thead>
    <tr>
      <th style="text-align: left">Kudos to you:</th>
      <th style="text-align: left">From:</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.receiver.reverse_order.each  do |kudo| %>
      <tr>
        <td><%= kudo.message %></td>
        <% @sender = User.find(kudo.sender.id) %>
        <td> <%= @sender.full_name %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %> 
  <h4> Still awaiting your first kudo, get out there and help a teammate! </h4>
<% end %>

<br>


